BETTER_AUTH_URL=https://local.api.bigtwo.com
BETTER_AUTH_SECRET=generate-with-https://better-auth.com/docs/concepts/cli#secret

GOOGLE_CLIENT_ID=example.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=secret
